body {
    background-color: #7D080A;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    background-image: url("Kuvat/header.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 433px;
    position: relative;
    
}


#menu {
    background-image: url("Kuvat/menutausta.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    position: static;
    margin: 0;
}

#meista{
    background-image: url(Kuvat/Meista.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: flex;
    position: relative;
    margin: 0;
}

#yhteystiedot {
    background-image: url("Kuvat/yhteystiedot.png");
    
}

/* header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("Kuvat/header.png");
    background-position: center;
    background-size: 1214px;
    background-repeat: no-repeat;
    height: 433px;
    position: relative;
} */


.opacity-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 100%;
    background-color: rgba(47, 45, 43, 0.75);
    background-size: 1214px;
    height: 186px;
    z-index: 1;
}

.logo{
    color: #FFFFFF;
    font-size: 50px;
    font-family: 'Italianno'; 
    text-transform: uppercase; 
    margin-top: 30px;
    float: left;
    margin-left: 11%;
    position: relative;
    z-index: 2;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    float: right;
    margin-right: 10%;
    margin-bottom: 25%;
    position: relative;
    z-index: 2;
}

nav li{
    margin-left: 20px;
}

nav li a{
    color: #FFFFFF;
    font-size: 24px;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none; 
    display: block;
    padding: 12px;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.opening-hours {
    background-color: #2F2D2B;
    color: #FFFFFF;
    padding: 15px;
    margin: 0 !important;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
}

.hero .container {
    justify-content: center;
    align-items: center;
}

.info-boxi {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.img-fluid {
    display: block;
    min-height: 400px;
    object-fit: cover;
    height: 50px;
    width: 100%;
    max-width: 100%;
}

.info-box {
    background-color: rgba(47, 45, 43, 0.75);
    color: #FFFFFF; 
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row.align-items-center {
    /* display: flex; */
    max-width: 100%;
    padding-bottom: 0;
    margin-bottom: 4px;
    padding-left: 23px;
}

#Etusivu {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.col-md-6 {
    padding: 0;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    max-width: 100%;
}

h1 {
    color: #FFFFFF;
    font-family: verdana, sans-serif;
}

h2 {
    color: #FFFFFF;
    font-family: verdana, sans-serif;
}

p {
    color: #FFFFFF;
    font-family: verdana, sans-serif;
}

.menu1{
    background-color: rgba(47, 45, 43, 0.85);
    margin-top: 30px;
    margin-bottom: 30px;
    /*padding: 50px;*/
    color: #FFFFFF;
    text-align: left;
    font-size: 1.5em;
}

.menu2{
    background-color: rgba(47, 45, 43, 0.85);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px;
    color: #FFFFFF;
    text-align: left;
    font-size: 1.5em;
}

footer{
    /*float: none;*/
    /*clear: both;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #232120;
    color: #FFFFFF;
    padding: 40px;
    text-align: center;
    font-size: 1.5em;
    font-family: Verdana, sans-serif;
    position: relative;
    width: 100%;
    bottom: 0;
}

section{
    
}

.menu {
    font-size: 1,5em;
}

